body
{
	padding: 0;
	margin: 0;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background: red;
}
table td{
	width: 320px;
}
.container
{
	padding: 0;
	border-radius: 30px;
	overflow: hidden;
	background-color: black;
}
.forms
{
	background-color: black;
	color: white;
	margin: 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	font-family: candara;
	min-height: 400px;
}
input,select
{
	padding: 7px 0;
	color: white;
	font-family: verdana;
	width: 200px;
	outline: none;
	border: none;
	border-bottom: 1px solid grey;
	background-color: transparent;
}
::placeholder{
	color: grey;
}
table
{
	margin: -5px -5px;
	margin-bottom: -10px;
	border: 0px;
}
option
{
	background-color: white;
	color: black;
}
input[type="submit"]
{
	background-color: red;
	border-radius: 25px;
	border: none;
}