body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: cyan;
}
input{
	width: 200px;
	background-color: white;
	outline: none;
	border: 1px solid black;
	padding: 8px 14px;
	font-size: 18px;
	font-family: verdana;
}
button{
	background-color: darkcyan;
	width: 120px;
	outline: none;
	border: 1px solid black;
	padding: 8px 14px;
	font-size: 18px;
	font-family: verdana;
	color: white;
}
div{
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
p{
	background-color: white;
	border: 1px solid black;
	color: black;
	font-family: verdana;
	font-size: 18px;
	padding: 10px 10px;
	width: 200px;
	height: 20px;
}